#checkbox-dropdown-container {
	background: #f3b089;
	padding: 20px;
}

.checked {
    color: orange;
}



.custom-select {
    background: #FFF url(downward-arrow.png) no-repeat center right 10px;
    display: inline-block;
    padding: 5px 15px;
    border: #df884f 1px solid;
    color: #df884f; 
    border-radius: 2px;
    width: 100%;
    cursor:pointer;
    
}
div#custom-select-option-box {
    background: #FFF;
    border: #df884f 1px solid;
    color: #df884f;
    border-radius: 2px;
    width: 100%;
    z-index:1;
    display:none;
}
button.search.btn {
   	background: #df884f;
    border: #000000 1px solid;
    color: #ffffff;
    border-radius: 2px;
    padding: 8px 40px;
    margin-top: 20px;
    font-size: 0.9em;
}
.custom-select-option {
    width: 100%;
    padding: 5px 15px;
    margin: 1px 0px;
    cursor: pointer;
}

.result-list {
    padding-bottom: 20px;
    color: #000000;
    line-height: 25px;
}
.result-list-heading {
    font-style: italic;
    color: #000000;
    text-decoration: underline;
}
 
canvas
    { 
    border:2px solid #f10000;
    }
h1 {
    color: #df884f;
    font-size:50px;
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
    }

a.link:link{
    color:#000000;
    font-size: calc(0.4em + 1vw);
}

a.link:visited{
    color:#000000;
    font-size: calc(0.4em + 1vw);
}
a.link:active{
    color:#000000;
    font-size: calc(0.4em + 1vw);
}

a.link:hover{
    color:#df884f;
    font-size: calc(0.4em + 1vw);
}




.image{
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.containerImg {
    width: inherit;
  }

.containerImg:hover .image {
    opacity: 0.5;
  }

.containerImg:hover .text{
    opacity: 1;
}
.text {
    color: black;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s ease;
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    
  }

#iskanje{
    background-image: url('../images/search.png');
    background-positon:center; 
    background-size: 40px 40px;
    background-repeat: no-repeat; 
    width: 50%; 
    font-size: 16px; 
    padding: 12px 20px 12px 50px; 
    border: 1px solid #ddd; 
    margin-bottom: 10px; 
}


.form-check{
    text-align: left;
    margin-left: 30px;
    
}
.filter-container{
    border: 1px solid #ddd; 
    background-color: #fff;

}

.card:hover{
    background-color: #ecf5fa;
}

.card-hotel{
    width: 90%;
    margin-left: 5%;
}
.card-hotel:hover{
    background-color: #FFF;
}

.card-komentar{
    width: 90%;
    margin-left: 5%;
    border:none;
}

.card-komentar:hover{
    background-color: #FFF;
    border:none;
}

.big{
    width: 60%;
    font-size: 3em;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:105px;
	left:30px;
	background-color:#df884f;
	color:#FFF;
	border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #fff;
	
}
.my-float{
    margin-top:22px;
    align-content: center;
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:30px;
	background-color:#df884f;
	color:#FFF;
	border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #fff;
	
}
.my-float2{
    size: 20px;
    margin-top:22px;
    align-content: center;
}

.inline{
    display: inline-block;
}

.zvezdice{
    margin-inline-start: 20px;
    
}

.orange{
    background-color: #df884f;
}

.orange-text{
    color: #FF5333;
}

.img-podrobnost{
    height:80%;
    width: 80%;
}

.vl {
    border-left: 1px solid gray;
    
  }

.komentar{
    margin: 10px 20px 10px 20px;
}
.ocena{
    margin-left:30px;
    font-weight: bold;
}

.datum{
    float:right;
    margin-right: 30px;
}

.dodaj-komentar{
    position: 'sticky';
    top: 0;
}






