<!DOCTYPE html>
<html class="no-js">
	<head>
        <link rel="shortcut icon" href="/static/favicon.ico">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Looking.si</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="/hotel/css/owl.carousel.css">
        <link rel="stylesheet" href="/hotel/css/Style.css">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="/hotel/css/bootstrap.min.css">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="/hotel/css/font-awesome.min.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/hotel/css/animate.min.css">

		<link rel="stylesheet" href="/hotel/css/main.css">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="/hotel/css/responsive.css">
		<!-- Js -->
    <script src="/hotel/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/hotel/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/hotel/js/jquery.nav.js"></script>
    <script src="/hotel/js/jquery.sticky.js"></script>
    <script src="/hotel/js/bootstrap.min.js"></script>
    <script src="/hotel/js/plugins.js"></script>
    <script src="/hotel/js/wow.min.js"></script>
    <script src="/hotel/js/main.js"></script>
    <script src="/hotel/js/jQuery.js"></script>
    
    
    {{!base}}
	</body>
</html>