<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Looking.si</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
		<!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
		<link rel="stylesheet" href="/hotel/css/owl.carousel.css">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="/hotel/css/bootstrap.min.css">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="/hotel/css/font-awesome.min.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/hotel/css/animate.min.css">

		<link rel="stylesheet" href="/hotel/css/main.css">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="/hotel/css/responsive.css">
        <link rel="stylesheet" href="/hotel/css/Style.css">
		<!-- Js -->
    <script src="/hotel/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/hotel/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/hotel/js/jquery.nav.js"></script>
    <script src="/hotel/js/jquery.sticky.js"></script>
    <script src="/hotel/js/bootstrap.min.js"></script>
    <script src="/hotel/js/plugins.js"></script>
    <script src="/hotel/js/wow.min.js"></script>
    <script src="/hotel/js/main.js"></script>
    <script src="/hotel/js/popper.min.js"></script>







    {{!base}}

   <!--
    blog start
    ============================ -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading">Popularne <span>destinacije</span></h1>
                        <ul>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-1.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Dubaj</h3>
                                    <p>Skočite v razkošni svet visokih in modernih zgradb.</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-2.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Bora Bora</h3>
                                    <p>Prepustite se vsem odtenkom modre barve na najlepših plažah Bora Bore.</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="content-left">
                                    <h3>London</h3>
                                    <p>Začutite utrip mesta ob skodelici pravega angleškega čaja.</p>
                                </div>
                                <div class="blog-img-2">
                                    <img src="/hotel/images/blog/blog-img-3.jpg" alt="blog-img">
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="content-left">
                                    <h3>Curaçao</h3>
                                    <p>Skočite v pisanost in eksotičnost otoka Curaçao.</p>
                                </div>
                                <div class="blog-img-2">
                                    <img src="/hotel/images/blog/blog-img-4.jpg" alt="blog-img">
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-5.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Panama City</h3>
                                    <p>Popeljite se skozi edinstveni Panamski prekop.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-6.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Barcelona</h3>
                                    <p>Oglejte si vse umetnine slavnega Gaudija, hkrati pa uživajte v odlični kulinariki.</p>
                                </div>
                            </li>
                        </ul>
                           </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->
               
	</body>
</html>