<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Looking.si</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="/hotel/css/owl.carousel.css">
        <link rel="stylesheet" href="/hotel/css/Style.css">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="/hotel/css/bootstrap.min.css">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="/hotel/css/font-awesome.min.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/hotel/css/animate.min.css">

		<link rel="stylesheet" href="/hotel/css/main.css">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="/hotel/css/responsive.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<!-- Js -->
    <script src="/hotel/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="/hotel/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/hotel/js/jquery.nav.js"></script>
    <script src="/hotel/js/jquery.sticky.js"></script>
    <script src="/hotel/js/bootstrap.min.js"></script>
    <script src="/hotel/js/plugins.js"></script>
    <script src="/hotel/js/wow.min.js"></script>
    <script src="/hotel/js/main.js"></script>
    <script src="/hotel/js/jQuery.js"></script>
    <script src="/hotel/js/drzave.js"></script>


    <link href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.js"></script>

    <style>
            select {
              width: 200px;
            }
            </style>
            
            
            
	</head>
	<body>
	<!--
	header-img start 
	============================== -->
    <section id="hero-area">
      <img class="img-responsive" src="/hotel/images/header.jpg" alt="">
    </section>
	<!--
    Header start 
	============================== -->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="/">
                                    <img src="/hotel/images/logo.png" alt="Logo">
                                  </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" >
                                <li><a href="/">Domov</a></li>
                                <li><a href="#blog">Inspiracija</a></li>
                                %if username is not None:
                                <li href="/uporabnik/"><a href="/uporabnik/">{{username}}</a></li>
                                <li><a href="/logout/">Odjava</a></li>
                                %else:
                                <li><a href="/login/" >Prijava</a></li>
                                <li><a href="/register/">Registracija</a></li>
                                %end
                                %if username == "katarinabrilej" or username == "evadezelak":
                                <li><a href="/admin/">ADMIN</a></li>
                                %end
                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
	</nav><!-- header close -->
    <!--
    Slider start
    ============================== -->
    <section id="slider">
        <div class="container" id="up">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>Popularne <span>Plaže</span>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-1p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Cabo San Lucas</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-2p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">O'ahu</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-3p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Bali</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-4p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Aruba</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-5p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Big Island</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-6p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Waikiki beach</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-7p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Moorea</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-8p.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Bora Bora</div>
                                </div>
                            </div>
                        
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- slider close -->
    <!--
    about-us start
    ============================== -->
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-4 filter-container">
                    
                    <div class="block">
                            <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" > <span>{{mesto}}</span></h1>

                        
<div class="form-check" id="zvezdice-form" >
        <a href="javascript:void(0)" class="float2" id="uncheck">
            <i class="fa my-float2">&#10006;</i>
        </a>
        <a href="javascript:void(0)" class="float" id="potrdi">
            <i class="fa my-float">&#10004;</i>
        </a>
        </br>
        <div class="row">
            <h4>Zvezdice:</h4>
            <hr size="30" align="left" width ="75%">
        </div>
    
    %for zvezdica in zvezdice:
        <div class="row">
            <input class="form-check-input form-check-input-zvezdice" type="checkbox" value="{{zvezdica}}" id="{{zvezdica}}">
            <label class="form-check-label" for="{{zvezdica}}">
                 %if zvezdica == 5:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                %end
                %if zvezdica == 4:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                %end
                %if zvezdica == 3:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                %end
                %if zvezdica == 2:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                %end
                %if zvezdica == 1:
                    <span class="fa fa-star checked"></span>
                %end
            </label>
        </div>
    %end
</div>
<div class="form-check" id="nastanitev-form">
    </br>
    <div class="row">
        <h4>Tip nastanitve:</h4>
        <hr size="30" align="left" width ="75%" color="red">
    </div>
    %for nastanitev in nastanitve:
        <div class="row">
            <input class="form-check-input form-check-input-nastanitev" type="checkbox" value="{{nastanitev}}" id="{{nastanitev}}">
            <label class="form-check-label" for="{{nastanitev}}" >
                {{nastanitev}}
            </label>
        </div>
    %end
</div>
<div class="form-check" id="okrozje-form">
    %flag = "true" 
    %for (id,lokacija,tip,mesto_id) in lokacije:
        %if tip == "Okrožje":
            %if flag == "true":
            </br>
            <div class="row">
                <h4>Okrožje:</h4>
                <hr size="30" align="left" width ="75%">
            </div>
            %flag = "false" 
            %end
            <div class="row">
                <input class="form-check-input form-check-input-okrožje" type="checkbox" value="{{lokacija}}" id="{{lokacija}}">
                <label class="form-check-label" for="{{lokacija}}" >
                    {{lokacija}}
                </label>
            </div>
        %end
    %end
</div>
<div class="form-check" id="znacilnost-form">
    %flag = "true" 
    %for (id,lokacija,tip,mesto_id) in lokacije:
        %if tip == "Značilnost":
            %if flag == "true":
            </br>
            <div class="row">
                <h4>Značilnosti:</h4>
                <hr size="30" align="left" width ="75%">
            </div>
                %flag = "false"
            %end
            <div class="row">
                <input class="form-check-input form-check-input-značilnost" type="checkbox" value="{{lokacija}}" id="{{lokacija}}">
                <label class="form-check-label" for="{{lokacija}}">
                    {{lokacija}}
                </label>
            </div>
        %end
    %end
</div>
<div class="form-check" id="znamenitost-form">
    %flag = "true" 
    %for (id,lokacija,tip,mesto_id) in lokacije:
        %if tip == "Znamenitost":
            %if flag == "true":
            </br>
            <div class="row">
                <h4>Znamenitosti:</h4>
                <hr size="30" align="left" width ="75%">
            </div>
            % flag = "false"   
            %end
            
            <div class="row">
            
                <input class="form-check-input form-check-input-znamenitost" type="checkbox" value="{{lokacija}}" id="{{lokacija}}">
                <label class="form-check-label" for="{{lokacija}}" >
                    {{lokacija}}
                </label>
            </div>
        %end
    %end
</div>
</br>
<div class="form-check" id="ugodnosti-form">
    
    <div class="row">
        <h4>Ugodnosti:</h4>
        <hr size="30" align="left" width ="75%">
    </div>
    %for ugodnost in ugodnosti:
        <div class="row">
            <input class="form-check-input form-check-input-ugodnosti" type="checkbox" value="{{ugodnost[1]}}" id="{{ugodnost[1]}}">
            <label class="form-check-label" for="{{ugodnost[1]}}">
                {{ugodnost[1]}}
            </label>
        </div>
    %end
</div>
<br>
                     
            </div>
                </div><!-- .col-md-12 close -->
                <div class="col-md-8" id="seznam">
                    
                    <input id="iskanje" onkeyup="išči()" type="text" placeholder="Išči po imenu..">
                    Uredi po: <a class="card-title link" href="javascript:urediPoZvezdicah()" >številu zvezdic</a>,
                    <a class="card-title link" href="javascript:urediPoAbecedi()" >abecedi</a>
                    <br></br>
                    <h3 id="nofilter" style="display:none;">Ni rezultatov za izbrane filtre</h3>
                    %for (ime, hotel_id, st_zvezdic, tip_nastanitve, mesto_id ) in hoteli:
                        <div class="card border-danger mb-3 hotel_{{hotel_id}}" id="zvezdice{{st_zvezdic}}" >
                            <div class="row">
                                <div class="col-md-4" style="margin:10px;">
                                    <img class="img-responsive" src="/hotel/images/hoteli/hotel_{{hotel_id}}.jpg" alt="">
                                </div>
                            
                                <div class="col-md-6">
                                    <div id="hotel_{{hotel_id}}"class="card-body px-4" style="margin-top:10px;">
                                        <h2 class="card-title link"><a href="/hotel-podrobno/{{hotel_id}}" class="link">{{ime}}</a></h2>
                                        %if st_zvezdic == 5:
                                        <div class="5">        
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                        </div>
                                        %end
                                        %if st_zvezdic == 4:
                                        <div class="4">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        %end
                                        %if st_zvezdic == 3:
                                        <div class="3">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        %end
                                        %if st_zvezdic == 2:
                                        <div class="2">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        %end
                                        %if st_zvezdic == 1:
                                        <div class="1">
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        %end
                                        <div class="{{tip_nastanitve}}">
                                            <p class="card-text ">Tip nastanitve: {{tip_nastanitve}}</p>
                                        </div>
                                        %for ugodnost_hotel in ugodnosti_hoteli:                                            
                                            %if ugodnost_hotel[0] == hotel_id:                                                
                                                %for ugodnost in ugodnosti:
                                                    %if ugodnost[0] == ugodnost_hotel[1]:
                                                    <div class="{{ugodnost[1]}}"
                                                            <p class="card-text {{ugodnost[1]}}" hidden>{{ugodnost[1]}}</p>
                                                            
                                                    </div>
                                                    %end
                                                %end
                                            %end
                                        %end
                                        %for na_lokacija in na_lokaciji:
                                            %if na_lokacija[0] == hotel_id:
                                                %for (id,lokacija,tip,mesto_id) in lokacije:
                                                    %if tip == "Okrožje":
                                                        %if na_lokacija[1] == id:
                                                        <div class="{{lokacija}}">
                                                            <p class="card-text" hidden>{{lokacija}}</p>
                                                        </div>
                                                        %end
                                                    %end
                                                    %if tip == "Znamenitost":
                                                        %if na_lokacija[1] == id:
                                                        <div class="{{lokacija}}">
                                                            <p class="card-text {{lokacija}}" hidden>{{lokacija}}</p>
                                                        </div>
                                                        %end
                                                    %end
                                                    %if tip == "Značilnost":
                                                        %if na_lokacija[1] == id:
                                                        <div class="{{lokacija}}">
                                                            <p class="card-text {{lokacija}}" hidden>{{lokacija}}</p>
                                                        </div>
                                                        %end
                                                    %end
                                                %end
                                            %end
                                        %end
                                       
                                        
                                      </div>
                                </div>  
                            </div>  
                            
                        </div>
                    %end
                    
                </div>
                        
                    </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #call-to-action close -->
    <!--
    blog start
    ============================ -->
    <section id="blog">
        <div class="container" id="down">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading">Popularne <span>destinacije</span></h1>
                        <ul>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-1.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Dubaj</h3>
                                    <p>Skočite v razkošni svet visokih in modernih zgradb.</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-2.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Bora Bora</h3>
                                    <p>Prepustite se vsem odtenkom modre barve na najlepših plažah Bora Bore.</p>
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="content-left">
                                    <h3>London</h3>
                                    <p>Začutite utrip mesta ob skodelici pravega angleškega čaja.</p>
                                </div>
                                <div class="blog-img-2">
                                    <img src="/hotel/images/blog/blog-img-3.jpg" alt="blog-img">
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="content-left">
                                    <h3>Curaçao</h3>
                                    <p>Skočite v pisanost in eksotičnost otoka Curaçao.</p>
                                </div>
                                <div class="blog-img-2">
                                    <img src="/hotel/images/blog/blog-img-4.jpg" alt="blog-img">
                                </div>
                            </li>
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-5.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Panama City</h3>
                                    <p>Popeljite se skozi edinstveni Panamski prekop.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="blog-img">
                                    <img src="/hotel/images/blog/blog-img-6.jpg" alt="blog-img">
                                </div>
                                <div class="content-right">
                                    <h3>Barcelona</h3>
                                    <p>Oglejte si vse umetnine slavnega Gaudija, hkrati pa uživajte v odlični kulinariki.</p>
                                </div>
                            </li>
                        </ul>
                           </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->


               
	</body>
</html>