%rebase('base_dodatni.html')

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <script src="/hotel/js/jQuery.js"></script>
    <script src="/hotel/js/hotel.js"></script>

    <link href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.js"></script>

    <style>
            select {
              width: 200px;
            }
            </style>
            
            <script>
                    $(function() {
                      $('select').multipleSelect({
                        selectAll: false,
                        filter: true,
      filterPlaceholder: 'Najdi',
      maxHeight: 140
                      })
                    })
            </script>

    
</head>
<body>
<!--
header-img start 
============================== -->
<section id="hero-area">
  <img class="img-responsive" src="/hotel/images/header.jpg" alt="">
</section>

	<!--
    Header start 
	============================== -->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="/">
                                    <img src="/hotel/images/logo.png" alt="Logo">
                                  </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" >
                                <li><a href="/">Domov</a></li>
                                <li><a href="#blog">Inspiracija</a></li>
                                %if username is not None:
                                <li href="/uporabnik/"><a href="/uporabnik/">{{username}}</a></li>
                                <li><a href="/logout/">Odjava</a></li>
                                %else:
                                <li><a href="/login/" >Prijava</a></li>
                                <li><a href="/register/">Registracija</a></li>
                                %end
                                %if username == "katarinabrilej" or username == "evadezelak":
                                <li><a href="/admin/">ADMIN</a></li>
                                %end
                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </nav><!-- header close -->
    
    <section id="podrobnosti">
        <div class ="row" id="hotel-podrobnosti">
            <div class="col-md-12">
                %for ( hotel_id,ime, st_zvezdic, tip_nastanitve, ime_mesta ) in hotel_podrobnosti:
                        <div class="card card-hotel" >
                            <div class="row">
                                <div class="col-md-4" style="margin:10px;">
                                    <img class="img-responsive img-podrobnost" src="/hotel/images/hoteli/hotel_{{hotel_id}}.jpg" alt="">
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="card-body px-4" style="margin-top:10px;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="card-title inline" style="text-align:left;">{{ime}}</h1>
                                            
                                                %if st_zvezdic == 5:
                                                <div class="5 inline zvezdice">        
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                </div>
                                                %end
                                                %if st_zvezdic == 4:
                                                <div class="4 inline zvezdice">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                %end
                                                %if st_zvezdic == 3:
                                                <div class="3 inline zvezdice">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                %end
                                                %if st_zvezdic == 2:
                                                <div class="2 inline zvezdice">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                %end
                                                %if st_zvezdic == 1:
                                                <div class="1 inline zvezdice">
                                                    <span class="fa fa-star checked"></span>
                                                </div>
                                                %end
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="{{tip_nastanitve}}">
                                                    <h4 >Tip nastanitve:</h4>
                                                    <h6 > {{tip_nastanitve}}</h6>
                                                </div>
                                                %okrozjeFlag = "true"
                                                %značilnostFlag = "true"
                                                %znamenitostFlag = "true"
                                                %for(ime_lokacije, tip, id_lokacije) in lokacije:
                                                    
                                                    %if tip == "Okrožje":
                                                    <div class="{{ime_lokacije}}">
                                                        %if okrozjeFlag == "true":
                                                            <h4 >Okrožje:</h4>
                                                            %okrozjeFlag = "false"
                                                        %end
                                                        <h6 > {{ime_lokacije}}</h6>
                                                    </div>
                                                    %end
                                                    
                                                    %if tip == "Značilnost":
                                                    <div class="{{ime_lokacije}}">
                                                        %if značilnostFlag == "true":
                                                            <h4 >Značilnosti:</h4>
                                                            %značilnostFlag = "false"
                                                        %end
                                                        <h6> {{ime_lokacije}}</h6>
                                                    </div>
                                                    %end
                                                    
                                                    %if tip == "Znamenitost":
                                                    <div class="{{ime_lokacije}}">
                                                        %if znamenitostFlag == "true":
                                                            <h4>Znamenitosti:</h4>
                                                            %znamenitostFlag = "false"
                                                        %end
                                                        <h6> {{ime_lokacije}}</h6>
                                                    </div>
                                                    %end

                                                %end
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>Ugodnosti:</h4>
                                                    %for(id, ime_ugodnosti)in ugodnosti:
                                                        <h6> {{ime_ugodnosti}}</h6>
                                                    %end
                                                </div>
                                            </div>
                                            
                                        </div>
                                </div>  
                            </div>  
                            
                        </div>
                    %end
            </div>
        </div>
        <div class="card-komentar">
            <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">MNENJA</h3>
                             %for(datum, mnenje, vrednost, uporabnisko_ime) in komentarji:
                                <h5 class="orange-text wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms"><span>{{uporabnisko_ime}}:</span> </h5>
                                <div class="card card-hotel wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <p class="komentar">"{{mnenje}}"</p>
                                </div>
                                <p class="ocena wow fadeInLeft inline" data-wow-duration="500ms" data-wow-delay="300ms">OCENA: {{vrednost}}</p>
                                <p class="datum inline wow fadeInLeft inline" data-wow-duration="500ms" data-wow-delay="300ms">{{datum}}</p>
                                 <hr size="30" align="left" width ="95%">
                             %end   
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-5  dodaj-komentar" id="dodaj-komentar-ocena">
                        <div class="block">
                            <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Dodaj komentar in <span>oceni hotel</span> </h3>
                            <form  role="form" method="post" action=".">

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <textarea class="form-control" placeholder="Napiši komentar" name="komentar" required></textarea>
                                </div>

                                
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms" >
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="1" required>1
                                    </label>
                                </div>
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="2">2
                                    </label>
                                </div>
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="3">3
                                    </label>
                                </div> 
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms" >
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="4">4
                                    </label>
                                </div>
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="5">5
                                    </label>
                                </div>
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="6">6
                                    </label>
                                </div> 
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms" >
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="7">7
                                    </label>
                                </div>
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="8">8
                                    </label>
                                </div>
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="9">9
                                    </label>
                                </div> 
                                <div class="radio-inline wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="10">10
                                    </label>
                                </div>
                                %id = hotel_podrobnosti[0]
                                <div hidden>    
                                    <select class="custom-select" name="idHotela" >
                                        <option selected={{id[0]}} value={{id[0]}} >{{id[0]}}</option>
                                    </select>
                                </div> 
                                <br>
                                    
                                
                                 <button class="btn  wow bounceIn orange" data-wow-duration="500ms" data-wow-delay="1300ms" type="submit">Dodaj</button>
                            </form>
                           
                                
                        </div>
                    </div><!-- .col-md-12 close -->
                    <!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div>
    </section>
