
    %rebase('base_dodatni.html')
        
	</head>
	<body>
	<!--
	header-img start 
	============================== -->
    <section id="hero-area">
      <img class="img-responsive" src="/hotel/images/header.jpg" alt="">
    </section>
    
    <!--  Header start 
	============================== -->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="/">
                                    <img src="/hotel/images/logo.png" alt="Logo">
                                  </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" >
                                <li><a href="#hero-area">Domov</a></li>
                                <li><a href="#about-us">Izbira</a></li>
                                <li><a href="#blog">Inspiracija</a></li>
                                %if username is not None:
                                <li href="/uporabnik/"><a href="/uporabnik/">{{username}}</a></li>
                                <li><a href="/logout/">Odjava</a></li>
                                %else:
                                <li><a href="/login/" >Prijava</a></li>
                                <li><a href="/register/">Registracija</a></li>
                                %end
                                %if username in admini:
                                <li><a href="/admin/">ADMIN</a></li>
                                %end

                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
	</nav><!-- header close -->
    <!--
    Slider start
    ============================== -->
    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>Popularni <span>Hoteli</span></h3>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-1.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">The Beverly Hills Hotel</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-2.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Eurostars Panama City</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-3.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Hilton Berlin</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-4.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Grand Hotel Costa Rica</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-5.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">The Royal Hawaiian</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-6.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">The London NYC</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-7.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Waldorf Astoria New York</div>
                                </div>
                            </div>
                            <div class="containerImg">
                                <img class="img-responsive image" src="/hotel/images/slider/slider-img-8.jpg" alt="">
                                <div class="overlay">
                                    <div class="text">Hilton Hawaiian Village</div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- slider close -->
    <!--
    about-us start
    ============================== -->
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        
                        <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" >Izberi <span>svoje</span>  sanjske <span>počitnice</span>
                        </h1>
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Prepusti se pozitivni energiji in naj te vodi srce!</p>
                        
                        <div class="container">
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle big" type="button" data-toggle="dropdown">Izberi mesto
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-center big">
                                            %for (mesto, drzava, mesto_id, drzava_id) in drzave:
                                            <li><a href="/drzava/{{mesto_id}}">{{mesto}}, {{drzava}}</a></li>
                                            %end
                                    </ul>
                            </div>
                        </div>

                        
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #call-to-action close -->
