<!DOCTYPE html>
<html lang="si">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>Looking prijava</title>
    <!-- če damo to v značko head, to bo zdaj tam v zavihku pisalo -->

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<!-- ndiv je kot neko območje, če nastavimo potem stil lahko dobimo neko special škatlico, barva, višina -->
    <p style ="border: 3px solid #4288e4d7;">
    <div class="container"> <!-- to bo zgledalo kot kontejner saj ma to bootstrap zabeleženo -->
      <form class="form-signin" role="form" method="post" action=".">
        <!-- metod je lahko post ali pa get, pri form je navadno post
        action je link, . je klic na trenutno stran, mi smo na strani login-->
        <h2 class="form-signin-heading">Looking.si</h2>
        <!-- napaka smo prej podali kot parameter v py datoteki -->
        %if napaka: 
        <div class="alert alert-warning">{{napaka}}</div><!-- tu mamo zdaj dva stila alert in alert-warning, to je vse zapisano v bootstrap -->
        %end
        <input type="username" class="form-control" placeholder="Uporabniško ime"
               %if username:
               value="{{username}}"
               %end
               name="username"
               required autofocus>
        <input type="password" class="form-control" placeholder="Geslo" name="password" required>
        <!-- če je tipa pasword se bodo risali krogci in ne dejanske črke-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
        <div>
          <!-- tu je zdaj link, glede na koren gremo na register, in to se zgodi če kliknemo registracija na spletu -->
          <p> Še nisi registriran? <a href="/register/">Registracija</a> </p>
        </div>
      </form>
    </div> <!-- /container -->
    </p>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
