%rebase('base_osnovni.html')

	</head>
	<body>
	<!--
	header-img start 
	============================== -->
    <section id="hero-area">
      <img class="img-responsive" src="/hotel/images/header.jpg" alt="">
    </section>
    
	<!--
    Header start 
	============================== -->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="/">
                                    <img src="/hotel/images/logo.png" alt="Logo">
                                  </a>

                            </div>

                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </nav><!-- header close -->     
        <!--
    CONTACT US  start
    ============================= -->
    <section id="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"><span>PRIJAVA</span></h1>
                            <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Prijavite se v <span>najboljši iskalnik hotelov!</span> </h3>
                            <form class="form-signin" role="form" method="post" action=".">
                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                                        %if napaka: 
                                        <div class="alert alert-warning">{{napaka}}</div><!-- tu mamo zdaj dva stila alert in alert-warning, to je vse zapisano v bootstrap -->
                                        %end
                                    <input type="username" class="form-control" placeholder="Uporabniško ime"
                                        %if username:
                                         value="{{username}}"
                                         %end
                                         name="username"
                                         required autofocus>
                                </div>
                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                    <input type="password" class="form-control" placeholder="Geslo" name="password" required>
                                </div>
                                <button class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" type="submit">PRIJAVA</button>
                                
                            </form>
                                
                                  </div>
                                </form>
                              </div> <!-- /container -->
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #contact-us close -->  
        <footer id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="block">
                            <p>Še nisi registriran? <a href="/register/">Registracija</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>     
	</body>
</html>