%rebase('base_osnovni.html')
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="/hotel/js/uporabnik.js"></script>
</head>
<body>
<!--
header-img start 
============================== -->
<section id="hero-area">
  <img class="img-responsive" src="/hotel/images/header.jpg" alt="">
</section>
	<!--
    Header start 
	============================== -->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="/">
                                    <img src="/hotel/images/logo.png" alt="Logo">
                                  </a>

                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" >
                                  
                                  %if username is not None:
                                  <li href="/uporabnik/"><a href="/uporabnik/">{{username}}</a></li>
                                  <li><a href="/logout/">Odjava</a></li>
                                  %else:
                                  <li><a href="/login/" >Prijava</a></li>
                                  <li><a href="/register/">Registracija</a></li>
                                  %end
                                  %if username == "katarinabrilej" or username == "evadezelak":
                                  <li><a href="/admin/">ADMIN</a></li>
                                  %end
                                </ul>
                              </div><!-- /.navbar-collapse -->

                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </nav><!-- header close -->     



    <section id="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"><span>{{username}}</span></h1>
                            <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Spremenite svoje <span>geslo</span> </h3>
                            <form class="form-signin" role="form" method="post" action=".">


                                %for sporocilo in sporocila:
                                <div class="alert {{sporocilo[0]}}">{{sporocilo[1]}}</div>
                                %end

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                    <input type="password" class="form-control" placeholder="Staro geslo" name="password1" required>
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                    <input type="password" class="form-control" placeholder="Novo geslo" name="password2" required>
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                    <input type="password" class="form-control" placeholder="Ponovi geslo" name="password3" required>
                                </div>

                                <button class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" type="submit">SPREMENI</button>

                                <div class="control-group">
                                        <label class="control-label" for="singlebutton"></label>
                                        <div class="controls">
                                          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Spremeni</button>
                                        </div>
                                      </div>
                                
                            </form>
                        </div>
                    </div><!-- .col-md-12 close -->
                    <div class="col-md-12">
                        <div class="block">
                            <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">MOJA <span>MNENJA</span></h3>
                            %for (datum, mnenje, vrednost, ime, hotel_id) in mnenja:
                                <div class="card-mnenja" onclick="naHotel('/hotel-podrobno/{{hotel_id}}')">
                                    <h5 class="orange-text wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms"><span>{{ime}}:</span> </h5>
                                    <div class="card card-hotel wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                        <p class="komentar">"{{mnenje}}"</p>
                                    </div>
                                    <p class="ocena wow fadeInLeft inline" data-wow-duration="500ms" data-wow-delay="300ms">OCENA: {{vrednost}}</p>
                                    <p class="datum inline wow fadeInLeft inline" data-wow-duration="500ms" data-wow-delay="300ms">{{datum}}</p>
                                    <hr size="30" align="left" width ="95%">
                                </div>
                            %end
                                
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->




        </section><!-- #contact-us close -->  